joblib
boto3
rio-cogeo
morecantile
google-cloud-aiplatform
opencv-python
huggingface_hub
shapely
geojson
scipy
scikit-image
Pillow==9.4.0
openai
numpy
pydantic==1.10.11
fastapi
langchain
langchain[llm]
opencage
starlette
uvicorn
pygeos
geopandas
shapely
